body {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  max-height: 100vh;
}

header,
footer {
  background-color: #3c70a4;
  color: white;
  text-align: center;
  min-height: 15vh;
}

header {
  font-size: 1.5em;
}

main {
  background-color: #d9eeec;
  padding: 1vh 10vw;
  display: flex;
  flex-direction: row;
}

article {
  margin: 0 10vh;
}

h2 {
  border-top: solid 3vh #da9833;
  margin-top: 8vh;
  padding-top: 3vh;
}

h4 {
  margin: 1vh 0 0 0;
}

h4:hover {
  cursor: pointer;
}

img {
  max-width: 200px;
  max-height: 200px;
}

aside {
  margin: 10vh 0 0 10vh;
}

aside p {
  font-size: 0.8em;
  margin: 1vh;
}

@media only screen and (max-width: 750px) {
  main {
    flex-direction: column;
    padding-bottom: 10vh;
  }
}
